body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #1b1b1b;
  color: #f5f5f5;
  margin: 0;
  padding: 20px;

  background-image: url(./Astroid-Miner.png);
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: blue;
  text-decoration-line: underline;
  font-size: 3rem;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: black;
}

button:hover {
  background-color: #555;
}

#upgradeTracker{
  border-radius: 1rem;
  border-style:double;
  background-color: #1b1b1b;
  width: 10rem;
  height: 15rem;
  padding: 1rem;
  
}